<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="keywords" content = "{{ site.keywords }}" />

    <meta content="{{ site.title-head }}" property="og:site_name">
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
        <meta content="article" property="og:type">
        <title>{{ page.title }} | NRC</title>
    {% else %}
        <meta content="{{ site.title-head }} | {{ site.subheading }}" property="og:title">
        <meta content="website" property="og:type">
        <title>{{ site.title-head }}</title>
    {% endif %}
    
    {% if page.preview %}
        <meta content="{{ page.preview }}" property="og:description">
    {% else %}
        <meta content="{{ site.description }}" property="og:description">
    {% endif %}

    {% if page.url %}
        <meta content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" property="og:url">
    {% endif %}

    {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
        <meta content="{{ site.url }}{{ site.baseurl }}#team" property="article:author">
    {% endif %}

    {% if page.image_count %}
        <meta content="{{ site.url }}/{{ site.baseurl }}assets/img/report/{{ page.post_id }}/1.jpeg" property="og:image">
    {% else %}
        <meta content="{{ site.url }}/{{ site.baseurl }}/{{ site.avatar }}" property="og:image">
    {% endif %}

    
    <link rel="icon" href="https://storage.googleapis.com/nissan-rogue-club/2020/04/2b7e7578-favicon.ico" sizes="32x32">

    <!-- Font Awesome icons (free version)-->
    <script src="{{ site.font-awesome-link }}" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ site.url }}/{{ site.baseurl }}/assets/css/bootstrap-resume-styles.css" rel="stylesheet" />
</head>