<section class="resume-section" id="donate">
    <div class="resume-section-content">
        <h2 class="mb-5">Долучитися до збору коштів</h2>

        <p class="lead mb-5">{{ site.donate_description }}</p>
        <p>
            Способи підтримки:
            <ul>
                <li>
                    <a target="_blank" href="https://send.monobank.ua/jar/94ZDfsDuVr">
                        Банка Monobank <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    Банківські картки:
                    <ul>
                        <li><b>Monobank:</b> 5375411201987794</li>
                        <li><b>Приватбанк:</b> 5169360017358320</li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.paypal.com/donate/?hosted_button_id=8NJ5UC8YFJQH4">
                        Paypal <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    Крипто:
                    <ul>
                        <li><b><i class="fa-brands fa-bitcoin"></i> BTC</b> 16T8ZcRrTzXQzNC2RRZwt1iUpB1TgyJDDY</li>
                        <li><b><i class="fa-brands fa-ethereum"></i> ETH(ERC20)</b> 0x87F25B0024c66f1b8b414f5c88c67CE7aCd47787</li>
                        <li><b><i class="fa-solid fa-dollar-sign"></i> USDT(TRC20)</b> TW8MnAL53Q3JCaVH1f9VE1Aq7KQKbyv37G</li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</section>