<section class="resume-section" id="report">
    <div class="resume-section-content">
        <h2 class="mb-5">Звіти</h2>

        {% for post in site.posts %}

            <div class="d-flex flex-column flex-md-row justify-content-between {% if forloop.last == false %} mb-5 {% endif %}">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{ post.title }}</h3>
                    <!-- <div class="subheading mb-3">{{ post.preview }}</div> -->
                    <div class="blockquote-footer">{{ post.preview }}</div>
                    <div><a href="{{ post.url }}">Читати далі >>></a></div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">{{ post.date | date: site.date_format }}</span></div>
            </div>

        {% endfor %}
        
    </div>
</section>