<section class="resume-section" id="team">
    
    <div class="container">				
		<div class="section-title">
			<h2 class="mb-5">Команда</h2>
		</div>				
        <p class="lead mb-5">{{ site.team_description }}</p>
        <p>
            Якщо ви не є учасником клубу то зв'язатися з нами можно через <a target="_blank" href="https://t.me/nrc_marketing_bot">телеграм бота <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </p>
		<div class="row text-center">
			{% for member in site.data.team.members %}
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="our-team">
                        <div class="team_img">
                            <img src="{{ site.url }}/{{ site.baseurl }}/assets/img/{{ member.photo }}" alt="{{ member.name }}">
                        </div>
                        <div class="team-content">
                            <h3 class="title">{{ member.name }}</h3>
                            <span class="post">{{ member.position }}</span>
                        </div>
                    </div>
                </div><!--- END COL -->	
            {% endfor %}															
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->	
</section>