<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">
        {% include navigation.html %}

        <!-- Page Content-->
        <div class="container-fluid p-0">

            {% include frontpage/about.html %}
            <hr class="m-0" />

            <!-- {% include frontpage/current.html %}
            <hr class="m-0" /> -->

            {% include frontpage/donate.html %}
            <hr class="m-0" />

            {% include frontpage/report.html %}
            <hr class="m-0" />

            <!-- {% include frontpage/partners.html %}
            <hr class="m-0" /> -->

            {% include frontpage/team.html %}
            <!-- <hr class="m-0" /> -->

        </div>

        {% include foot.html %}

    </body>
</html>
