<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">

        {% include navigation.html %}

        <!-- Page Content-->
        <div class="container-fluid p-0">

            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ site.url }}/{{ site.baseurl }}">NRC Допомога армії</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                        </ol>
                      </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {{ page.text_long }}
                        </div>
                      </div>
                </div>
            </div>
            
            <div class="row">
                {% for i in (1..page.image_count) %}
                    <div class="col-md p-5">
                        <img class="rounded img-fluid" src="{{ site.url }}/{{ site.baseurl }}assets/img/report/{{ page.post_id }}/{{ i }}.jpeg" alt="{{ page.title }}">
                    </div>
                {% endfor %}
            </div>
            
        </div>

        {% include foot.html %}

    </body>
</html>
