<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">

        {% include navigation.html %}

        <!-- Page Content-->
        <div class="container-fluid p-0">

            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ site.url }}/{{ site.baseurl }}">NRC Допомога армії</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                        </ol>
                      </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {{ page.text_long }}
                        </div>
                      </div>
                </div>
            </div>

            {% if page.youtube_link %}
            <br/>
                <div class="row">
                    <div class="col" align="center">
                        <iframe height="400px" width="80%" src="{{ page.youtube_link }}" title="War in Ukraine" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            {% endif %}
            
            {% assign rows = page.image_count | divided_by: 4 | round %}
            
            {% for i in (1..rows) %}
                {% if i == 1 %}
                    <div class="row">
                        {% for ic in (1..4) %}
                            {% if ic > page.image_count %}
                                {% break %}
                            {% else %}
                                <div class="col-md p-5">
                                    <a href="javascript:void(0)" class="pop">
                                        <img class="rounded img-fluid" src="{{ site.url }}/{{ site.baseurl }}assets/img/report/{{ page.post_id }}/{{ ic }}.jpeg" alt="{{ page.title }}">
                                    </a>
                                </div>
                            {% endfor %}
                            {% increment last_num %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row">
                        {% assign start_img = last_num | plus: 1 %}
                        {% assign last_img = start_img | plus: 3 %}
                        {% for ic in (start_img..last_img) %}
                            {% if ic > page.image_count %}
                                {% break %}
                            {% else %}
                                <div class="col-md p-5">
                                    <a href="javascript:void(0)" class="pop">
                                        <img class="rounded img-fluid" src="{{ site.url }}/{{ site.baseurl }}assets/img/report/{{ page.post_id }}/{{ ic }}.jpeg" alt="{{ page.title }}">
                                    </a>
                                </div>
                            {% endfor %}
                            {% increment last_num %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="row">
                {% for i in (1..page.image_count) %}
                    <div class="col-md p-5">
                        <a href="javascript:void(0)" class="pop">
                            <img class="rounded img-fluid" src="{{ site.url }}/{{ site.baseurl }}assets/img/report/{{ page.post_id }}/{{ i }}.jpeg" alt="{{ page.title }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">              
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" style="width: 100%;" >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include foot.html %}
    </body>
</html>
